/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
    min-height: 100%;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Arial Narrow", Arial, sans-serif;
}
header .nav-menu{
    background: #334a55; /* Old browsers */
    background: -moz-linear-gradient(top, #334a55 0%, #002834 45%, #002834 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#334a55), color-stop(45%,#002834), color-stop(100%,#002834)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #334a55 0%,#002834 45%,#002834 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #334a55 0%,#002834 45%,#002834 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #334a55 0%,#002834 45%,#002834 100%); /* IE10+ */
    background: linear-gradient(to bottom, #334a55 0%,#002834 45%,#002834 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334a55', endColorstr='#002834',GradientType=0 ); /* IE6-9 */
    height: 45px;
    margin-top: 30px;
    border: 0;
    box-shadow: none;
}
header .nav-menu .menu{
    padding: 0;
    list-style: none;
    float: right;
    text-align: right;
}
header .nav-menu .menu li{
    display: inline-block;
    margin: 0;
}
header .nav-menu .menu li a{
    display: block;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    background-image: url("../img/arr-menu.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding: 0 15px;
}
header .nav-menu .menu li a:hover{
    color:#c4ff00;
    text-decoration: none;
}
header .nav-menu .menu li a.active{
    background-image: url("../img/active.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #002330;
}
header .logo{
    position: absolute;
    top: -17px;
}
main .banner img{
    width: 100%;
    margin-bottom: 15px;
}
main .content{
    border-radius: 5px;
    background-color: #ffffff;
    height: 600px;
    padding: 15px;
}
footer .footer-side{
    border-top: 1px solid #ffffff;
    padding-top: 15px;
}
footer .footer-side p{
    margin: 0;
    padding: 0;
    color:#ffffff;
    font-size: 14px;
}
.slider{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.slider ul li img{
    width: 100%;
}
.slider .callbacks_nav{
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
}
.slider .callbacks_nav:hover{
    background-color: rgba(188, 255, 0 , 0.5);
}
.slider .callbacks_nav a{
    display: block;
    width: 40px;
    height: 100%;
    background-image: url("../img/slide-arrow.png");
    background-position: 10px center;
    background-repeat: no-repeat;
}
.slider .callbacks_nav.next{
    right: 0;
}
.slider .callbacks_nav.next a{
    background-position: -24px center;
}

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 0px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -20px;
        z-index: 3;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background-image: url("../img/bullet.png");
        background-position: 3px 0px;
        background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	width: 14px;
	height: 14px;
	margin: 0 2px;
	outline: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	 background-position: -11px 0px;
}
